root = true

#indentations
[*]
file_header_template = ---------------------------------------------------------------------------------------------------------------------\n<copyright file="{fileName}" company="bibently">\n© bibently. All rights reserved.\n</copyright>\n---------------------------------------------------------------------------------------------------------------------
indent_style = space
indent_size = 4
char_set = utf-8
insert_final_newline = true

[*.{js,json,yml,yaml}]
indent_size = 2

[*.*proj]
indent_size = 2

[*.{props,targets}]
indent_size = 2

# Code files
[*.cs]
# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = warning
# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = warning
# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none
# CA1003: Use generic event handler instances
dotnet_diagnostic.CA1003.severity = warning
# CA1004: Generic methods should provide type parameter
dotnet_diagnostic.CA1004.severity = warning
# CA1005: Avoid excessive parameters on generic types
dotnet_diagnostic.CA1005.severity = warning
# CA1007: Use generics where appropriate
dotnet_diagnostic.CA1007.severity = warning
# CA1008: Enums should have zero value
dotnet_diagnostic.CA1008.severity = warning
# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity = warning
# CA1011: Consider passing base types as parameters
dotnet_diagnostic.CA1011.severity = warning
# CA1012: Abstract types should not have public constructors
dotnet_diagnostic.CA1012.severity = warning
# CA1013: Overload operator equals on overloading add and subtract
dotnet_diagnostic.CA1013.severity = warning
# CA1016: Mark assemblies with AssemblyVersionAttribute
dotnet_diagnostic.CA1016.severity = none
# CA1017: Mark assemblies with ComVisibleAttribute
dotnet_diagnostic.CA1017.severity = warning
# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning
# CA1019: Define accessors for attribute arguments
dotnet_diagnostic.CA1019.severity = warning
# CA1021: Avoid out parameters
dotnet_diagnostic.CA1021.severity = warning
# CA1023: Indexers should not be multidimensional
dotnet_diagnostic.CA1023.severity = warning
# CA1024: Use properties where appropriate
dotnet_diagnostic.CA1024.severity = warning
# CA1027: Mark enums with FlagsAttribute
dotnet_diagnostic.CA1027.severity = warning
# CA1028: Enum storage should be Int32
dotnet_diagnostic.CA1028.severity = warning
# CA1030: Use events where appropriate
dotnet_diagnostic.CA1030.severity = warning
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = warning
# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = warning
# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = warning
# CA1036: Override methods on comparable types
dotnet_diagnostic.CA1036.severity = warning
# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = warning
# CA1041: Provide ObsoleteAttribute message
dotnet_diagnostic.CA1041.severity = warning
# CA1043: Use integral or string argument for indexers
dotnet_diagnostic.CA1043.severity = warning
# CA1044: Properties should not be write only
dotnet_diagnostic.CA1044.severity = warning
# CA1045: Do not pass types by reference
dotnet_diagnostic.CA1045.severity = warning
# CA1046: Do not overload operator equals on reference types
dotnet_diagnostic.CA1046.severity = warning
# CA1047: Do not declare protected members in sealed types
dotnet_diagnostic.CA1047.severity = warning
# CA1049: Types that own native resources should be disposable
dotnet_diagnostic.CA1049.severity = warning
# CA1050: Declare types in namespace
dotnet_diagnostic.CA1050.severity = warning
# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = warning
# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = warning
# CA1053: Static holder types should not have default constructors
dotnet_diagnostic.CA1053.severity = warning
# CA1054: URI parameters should not be strings
dotnet_diagnostic.CA1054.severity = warning
# CA1055: URI return values should not be strings
dotnet_diagnostic.CA1055.severity = warning
# CA1056: URI properties should not be strings
dotnet_diagnostic.CA1056.severity = warning
# CA1057: String URI overloads call System.Uri overloads
dotnet_diagnostic.CA1057.severity = warning
# CA1058: Types should not extend certain base types
dotnet_diagnostic.CA1058.severity = warning
# CA1060: Move P/Invokes to NativeMethods class
dotnet_diagnostic.CA1060.severity = warning
# CA1061: Do not hide base class methods
dotnet_diagnostic.CA1061.severity = warning
# CA1064: Exceptions should be public
dotnet_diagnostic.CA1064.severity = warning
# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = warning
# CA1300: Specify MessageBoxOptions
dotnet_diagnostic.CA1300.severity = warning
# CA1301: Avoid duplicate accelerators
dotnet_diagnostic.CA1301.severity = warning
# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = warning
# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = warning
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = warning
# CA1306: Set locale for data types
dotnet_diagnostic.CA1306.severity = warning
# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = warning
# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = warning
# CA1309: Use ordinal StringComparison
dotnet_diagnostic.CA1309.severity = warning
# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = warning
# CA1402: Avoid overloads in COM visible interfaces
dotnet_diagnostic.CA1402.severity = warning
# CA1403: Auto layout types should not be COM visible
dotnet_diagnostic.CA1403.severity = warning
# CA1404: Call GetLastError immediately after P/Invoke
dotnet_diagnostic.CA1404.severity = warning
# CA1405: COM visible type base types should be COM visible
dotnet_diagnostic.CA1405.severity = warning
# CA1407: Avoid static members in COM visible types
dotnet_diagnostic.CA1407.severity = warning
# CA1408: Do not use AutoDual ClassInterfaceType
dotnet_diagnostic.CA1408.severity = warning
# CA1409: Com visible types should be creatable
dotnet_diagnostic.CA1409.severity = warning
# CA1410: COM registration methods should be matched
dotnet_diagnostic.CA1410.severity = warning
# CA1411: COM registration methods should not be visible
dotnet_diagnostic.CA1411.severity = warning
# CA1412: Mark ComSource Interfaces as IDispatch
dotnet_diagnostic.CA1412.severity = warning
# CA1413: Avoid non-public fields in COM visible value types
dotnet_diagnostic.CA1413.severity = warning
# CA1414: Mark boolean P/Invoke arguments with MarshalAs
dotnet_diagnostic.CA1414.severity = warning
# CA1415: Declare P/Invokes correctly
dotnet_diagnostic.CA1415.severity = warning
# CA1500: Variable names should not match field names
dotnet_diagnostic.CA1500.severity = warning
# CA1501: Avoid excessive inheritance
dotnet_diagnostic.CA1501.severity = warning
# CA1502: Avoid excessive complexity
dotnet_diagnostic.CA1502.severity = warning
# CA1505: Avoid unmaintainable code
dotnet_diagnostic.CA1505.severity = warning
# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = warning
# CA1600: Do not use idle process priority
dotnet_diagnostic.CA1600.severity = warning
# CA1601: Do not use timers that prevent power state changes
dotnet_diagnostic.CA1601.severity = warning
# CA1700: Do not name enum values 'Reserved'
dotnet_diagnostic.CA1700.severity = warning
# CA1704: Identifiers should be spelled correctly
dotnet_diagnostic.CA1704.severity = silent
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = warning
# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = warning
# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = warning
# CA1713: Events should not have before or after prefix
dotnet_diagnostic.CA1713.severity = warning
# CA1714: Flags enums should have plural names
dotnet_diagnostic.CA1714.severity = warning
# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = warning
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = warning
# CA1717: Only FlagsAttribute enums should have plural names
dotnet_diagnostic.CA1717.severity = warning
# CA1719: Parameter names should not match member names
dotnet_diagnostic.CA1719.severity = warning
# CA1720: Identifiers should not contain type names
dotnet_diagnostic.CA1720.severity = warning
# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = warning
# CA1722: Identifiers should not have incorrect prefix
dotnet_diagnostic.CA1722.severity = warning
# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = warning
# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning
# CA1726: Use preferred terms
dotnet_diagnostic.CA1726.severity = warning
# CA1801: Review unused parameters
dotnet_diagnostic.CA1801.severity = warning
# CA1802: Use Literals Where Appropriate
dotnet_diagnostic.CA1802.severity = warning
# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = warning
# CA1810: Initialize reference type static fields inline
dotnet_diagnostic.CA1810.severity = warning
# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = None
# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = warning
# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = warning
# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = warning
# CA1816: Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1816.severity = warning
# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning
# CA1820: Test for empty strings using string length
dotnet_diagnostic.CA1820.severity = warning
# CA1821: Remove empty finalizers
dotnet_diagnostic.CA1821.severity = warning
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = warning
# CA1823: Avoid unused private fields
dotnet_diagnostic.CA1823.severity = warning
# CA1824: Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = warning
# CA1900: Value type fields should be portable
dotnet_diagnostic.CA1900.severity = warning
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning
# CA2001: Avoid calling problematic methods
dotnet_diagnostic.CA2001.severity = warning
# CA2002: Do not lock on objects with weak identity
dotnet_diagnostic.CA2002.severity = warning
# CA2004: Remove calls to GC.KeepAlive
dotnet_diagnostic.CA2004.severity = warning
# CA2006: Use SafeHandle to encapsulate native resources
dotnet_diagnostic.CA2006.severity = warning
# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = warning
# CA2101: Specify marshalling for P/Invoke string arguments
dotnet_diagnostic.CA2101.severity = warning
# CA2109: Review visible event handlers
dotnet_diagnostic.CA2109.severity = warning
# CA2119: Seal methods that satisfy private interfaces
dotnet_diagnostic.CA2119.severity = warning
# CA2200: Rethrow to preserve stack details
dotnet_diagnostic.CA2200.severity = warning
# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = warning
# CA2204: Literals should be spelled correctly
dotnet_diagnostic.CA2204.severity = warning
# CA2205: Use managed equivalents of Win32 API
dotnet_diagnostic.CA2205.severity = warning
# CA2207: Initialize value type static fields inline
dotnet_diagnostic.CA2207.severity = warning
# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning
# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = warning
# CA2212: Do not mark serviced components with WebMethod
dotnet_diagnostic.CA2212.severity = warning
# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = warning
# CA2214: Do not call overridable methods in constructors
dotnet_diagnostic.CA2214.severity = warning
# CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CA2215.severity = warning
# CA2216: Disposable types should declare finalizer
dotnet_diagnostic.CA2216.severity = warning
# CA2217: Do not mark enums with FlagsAttribute
dotnet_diagnostic.CA2217.severity = warning
# CA2218: Override GetHashCode on overriding Equals
dotnet_diagnostic.CA2218.severity = warning
# CA2219: Do not raise exceptions in exception clauses
dotnet_diagnostic.CA2219.severity = warning
# CA2224: Override Equals on overloading operator equals
dotnet_diagnostic.CA2224.severity = warning
# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = warning
# CA2226: Operators should have symmetrical overloads
dotnet_diagnostic.CA2226.severity = warning
# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none
# CA2229: Implement serialization constructors
dotnet_diagnostic.CA2229.severity = warning
# CA2231: Overload operator equals on overriding ValueType.Equals
dotnet_diagnostic.CA2231.severity = warning
# CA2232: Mark Windows Forms entry points with STAThread
dotnet_diagnostic.CA2232.severity = warning
# CA2234: Pass System.Uri objects instead of strings
dotnet_diagnostic.CA2234.severity = warning
# CA2235: Mark all non-serializable fields
dotnet_diagnostic.CA2235.severity = warning
# CA2236: Call base class methods on ISerializable types
dotnet_diagnostic.CA2236.severity = warning
# CA2237: Mark ISerializable types with SerializableAttribute
dotnet_diagnostic.CA2237.severity = warning
# CA2238: Implement serialization methods correctly
dotnet_diagnostic.CA2238.severity = warning
# CA2239: Provide deserialization methods for optional fields
dotnet_diagnostic.CA2239.severity = warning
# CA2240: Implement ISerializable correctly
dotnet_diagnostic.CA2240.severity = warning
# CA2241: Provide correct arguments to formatting methods
dotnet_diagnostic.CA2241.severity = warning
# CA2242: Test for NaN correctly
dotnet_diagnostic.CA2242.severity = warning
# CA2243: Attribute string literals should parse correctly
dotnet_diagnostic.CA2243.severity = warning
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
# CS1998: This async method lacks 'await'
dotnet_diagnostic.CS1998.severity = none
# IDE0001: Simplify name
dotnet_diagnostic.IDE0001.severity = none
# IDE0002: Simplify member access
dotnet_diagnostic.IDE0002.severity = none
# this and Me preferences (IDE0003 and IDE0009)
# These style rules can be applied to fields, properties, methods, or events.
# Option value of true means prefer the code symbol to be prefaced with this.
# Option value of false means prefer the code element not to be prefaced with this.
# IDE0003: Remove this qualification
dotnet_diagnostic.IDE0003.severity = none
# IDE0009: Add this qualification
dotnet_diagnostic.IDE0009.severity = none
# IDE0004: Remove unnecessary cast
dotnet_diagnostic.IDE0004.severity = none
# IDE0005: Remove unnecessary import
dotnet_diagnostic.IDE0005.severity = none
# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none
# SA1024: Colons should be spaced correctly
dotnet_diagnostic.SA1024.severity = none
# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
# SA1106: Code must not contain empty statements
dotnet_diagnostic.SA1106.severity = warning
# SA1107: Code must not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = warning
# SA1110: Opening parenthesis or bracket should be on declaration line
dotnet_diagnostic.SA1110.severity = none
# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none
# SA1112: Closing parenthesis should be on line of opening parenthesis
dotnet_diagnostic.SA1112.severity = none
# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none
# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none
# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none
# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none
# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = error
# SA1403: File may only contain a single namespace
dotnet_diagnostic.SA1403.severity = error
# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none
# SA1514: Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1514.severity = none
# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none
# SA1603: Documentation must contain valid xml
dotnet_diagnostic.SA1603.severity = warning
# SA1604: Element documentation must have summary
dotnet_diagnostic.SA1604.severity = none
# SA1605: Element documentation must have summary
dotnet_diagnostic.SA1605.severity = none
# SA1610: Property documentation should have value text
dotnet_diagnostic.SA1610.severity = none
# SA1611: Element parameters must be documented
dotnet_diagnostic.SA1611.severity = none
# SA1612: Element parameter documentation must match element parameters
dotnet_diagnostic.SA1612.severity = warning
# SA1633: File must have header
dotnet_diagnostic.SA1633.severity = warning

## rules specific to namespaces with Shared keyword
[test/Bibently.Tests.Shared/**.cs]
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none
dotnet_code_quality.CA1716.analyzed_symbol_kinds = Namespace
