.git
.gitignore
.gcloudignore
.env
.idea/
.vscode/

# Build & Test artifacts
test/
cmd/
Makefile
README.md
qodana.yaml
vendor/

# Firebase / Emulator specific (Not needed in GCF)
firebase.json
firestore.indexes.json
firestore.rules
firestore.rules.template
*.http